

@import "variables";
@import "../../theme-cube/scss/tk-cube";



.tk-status-table tbody tr td {
  vertical-align: top;
}

.tk-table .tk-filters .tk-form-fields .form-row {
  margin-top: 5px;
}
#header-navbar .navbar-nav > li > ul.dropdown-menu.notifications-list {
    min-width: 333px;
}

.notifications-list {

  .item {
    > a > i {
      color: inherit;
    }
    font-weight: 600;
    color: #e84e40;

    //&.new {
    //  font-weight: 600;
    //  > a > i {
    //    color: #e84e40;
    //  }
    //}

    &.viewed {
      > a > i {
        color: inherit;
      }
    }
    &.read {
      font-weight: normal;
    }

  }

}

