

@import "variables";
@import "../../theme-cube/scss/tk-cube";

//@import "../../app/js/fileinput/tkFileInput";

.tk-status-table tbody tr td {
  vertical-align: top;
}

.tk-table .tk-filters .tk-form-fields .form-row {
  margin-top: 5px;
}
#header-navbar .navbar-nav > li > ul.dropdown-menu.notifications-list {
    min-width: 333px;
}

.notifications-list {

  .item {
    > a > i {
      color: inherit;
    }
    font-weight: 600;
    color: #e84e40;

    &.viewed {
      font-weight: normal;
      > a > i {
        color: inherit;
      }
    }
    //&.read {
    //  font-weight: normal;
    //}

  }

}

small.dlg-error {
  color: #e84e40;
}
// InvoiceItem dialog autocomplete
.ui-menu.ui-autocomplete {
  li {
    padding: 1px 5px;
  }
  li:hover {
    background-color: #EEE;
  }
}

.tk-table .table tbody > tr > td,
.tk-table .table tbody > tr > th {
  line-height: 1.4;
  vertical-align: top;
}


.tk-ui-action-panel .dropdown-menu .dropdown-item {
  //padding-left: 0.5em;
  //padding-right: 0.5em;
  padding: 0;
}
.tk-table .tk-column-select .columnSelect.dropdown-menu {
  min-width: 13rem !important;
}

